# Ignore Play! working directory #
bin/
.eclipse
.idea
.idea_modules/
.bloop/
.metals/
project/.bloop/
/project/project
/project/target
/project/metals.sbt
/target
/src/target
tmp/
*~
/dist/
.cache
.cache-main
.cache-tests
.classpath
.project
.settings
.loamstream
src/main/loam/loam
.sbtopts
job-outputs
prof
profile-sbt.sh
.bsp
.vscode
