# Ignore Play! working directory #
bin/
/db
.eclipse
.idea
/lib/
/logs/
hail.log
/modules
/out
/project/project
/project/target
/target
/src/target
tmp/
test-result
server.pid
*.iml
*.eml
*~
/dist/
.cache
.cache-main
.cache-tests
.classpath
.project
.settings
model/.cache-main
model/.cache-tests
model/.classpath
model/.project
model/.settings
