# Ignore Play! working directory #
bin/
/db
.eclipse
.idea
.idea_modules/
projectFilesBackup/
/lib/
/logs/
hail.log
plink.log
/modules
/out
/project/project
/project/target

/target
/src/target
tmp/
test-result
uger.conf
googlecloud.conf
python_R.conf
server.pid
*.eml
*.swp
*~
/dist/
.cache
.cache-main
.cache-tests
.classpath
.project
.settings
model/.cache-main
model/.cache-tests
model/.classpath
model/.project
model/.settings
/webui/logs/
/webui/target/
pipelines/
.loamstream
src/main/loam/loam
.sbtopts
