<configuration debug="false">

    <!-- The order of specifying the log colors for different log levels is:
         Error, Warn, Info, Debug, Trace -->
    <property scope="context" name="COLORIZER_COLORS" value="boldred@,yellow@,green@,boldblue@,cyan@" />
    
    <!-- Enables %colorize(...) in patterns -->
    <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer" />

    <property scope="local" name="noColorPattern" value="%date %level [%thread] [%logger{10}] %msg %n" />

    <!-- Colored log output is on by default; to switch it off, define the loamstream-log-nocolor system property:
         java -Dloamstream-log-nocolor -jar foo.jar some.main.Class
     -->
    <if condition='isDefined("loamstream-log-nocolor")'>
        <then>
            <property scope="local" name="consolePattern" value="${noColorPattern}" />
        </then>
        <else>
            <property
                scope="local"
                name="consolePattern"
                value="%white(%date) %colorize(%level [%thread] [%logger{10}] %msg) %n" />
        </else>
    </if>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${consolePattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>.loamstream/logs/loamStream.log</file>
        <append>false</append>
        <encoder>
            <pattern>${noColorPattern}</pattern>
        </encoder>
    </appender>
    
    <appender name="JOB_STATE_LOG" class="ch.qos.logback.core.FileAppender">
        <file>.loamstream/logs/job-states.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 
         Logging levels in the order of increasing significance are: TRACE < DEBUG < INFO <  WARN < ERROR

         Default log level is INFO.  This can be overridden by setting the 'loamstream-log-level' JVM system property:
           Switch logging off entirely:   scala -Dloamstream-log-level=OFF some.main.Class ...
           Switch logging to DEBUG level: scala -Dloamstream-log-level=DEBUG some.main.Class ...
           Switch logging to WARN level:  scala -Dloamstream-log-level=WARN some.main.Class ...
           etc
    -->
    <root level="${loamstream-log-level:-INFO}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="LoamStream" level="${loamstream-log-level:-INFO}"/>
    
    <logger name="loamstream.model.jobs.log" level="${loamstream-log-level:-INFO}">
      <appender-ref ref="JOB_STATE_LOG" />
    </logger>

    <!-- Without this, Slick spews tons and tons of stuff to the console -->
    <logger name="slick" level="INFO" />
</configuration>
